# node_modules
node_modules/

# temp
*.local
*.log
*.tmp
*.temp

# system
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# env
.env
.env.* 
*.tsbuildinfo
node_modules/.tmp/

# VSCode extensions
.history/
